<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>KiryaKor translate</h1>
    <p>Перевод с английского на русский</p>
    <form method="post", action=''>
        {% csrf_token %}
        {{ form.name }}
        <br>
        <br>
        <input type="submit" value="Перевести текст">
      </form>
      <br>
      <br>


      {% if var %}
      <p>Ваш переведенный текст :</p>
      {{ var }}
      {% endif %}
  </body>
</html>
